<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <fieldset style="width:300px">
    <legend>ID</legend>
    <h4>Some stuff</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a eligendi velit vitae repellat eum repellendus eveniet sed soluta delectus molestiae facilis beatae iste, nihil veniam cumque temporibus adipisci consectetur?</p>
  </fieldset>
</form>